#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 78vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../resources/img/banner-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h1 {
    color: #EAF7CF;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 2.5em; }
}


